
@font-face {
  /* (Font: Sugo Pro Family by Zetafonts -http://www.zetafonts.com/collection/72) */
  font-family: Sugo-Pro;
  src: url("./sugo_pro_display/Sugo-Pro-Display-Light-trial.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* outline: 1px solid red;For debugging layout */
}

:root {
  --light-color-2: #d8e2e0;
  --light-color-1: #b4dad7;
  --primary-color: #26877f;
  --dark-color-1: #17544f;
  --dark-color-2: #123d3c;
  --app-background: #d8e2e0;
  --dark-background: #252526;
}

body {
  background: var(--md-sys-color-surface-light);
  font-size: 100%;
  font-family: "Noto Serif Vithkuqi", serif;
}
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 420;
  display: none;
}
.confirmation-dialog{
  position: fixed;
  width: 50%;
  height: 50%;
  background-color: rgb(125, 255, 196);
  z-index: 421;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
header {
  background-color: var(--md-sys-color-surface-container-light);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color-1);
  padding: 0.8rem;
}

svg {
  height: 100px;
  padding-right: 0.8rem;
}

.logo-svg {
  fill: var(--dark-color-1);
  animation: logo-anim 0.5s infinite alternate-reverse;
}

.logo-svg:hover {
  fill: #26877f;
}

header h1 {
  font-family: Sugo-Pro;
  font-size: 2.8em;
  text-align: center;
}

header p {
  font-size: 1.2em;
  text-align: center;
}
.landing-page{
  background: var(--material-theme-sys-light-primary, #386A1F);
  
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  
  align-items: center;

  color: white;
  border-radius: 20px;
  min-height: 60vh;
  margin: 1rem;

}
.landing-text{
  color:var();
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

}
.landing-page img{
  max-width: 100%;
  border-radius: 40px;
  height: 300px;

}
.landing-page h1{
  font-size: 4rem;
  font-weight: 500;
  font-family: Sugo-Pro;
  padding-bottom: 2rem;
}
.landing-page p{
  font-size: 1.5rem;
  font-weight: 500;
  
  /* margin: 0.5rem; */
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
  display: flex;
  flex-direction: column;
  /* max-width: 1080px; */
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 0.8rem;
  cursor: pointer;
  border-radius: 1rem;
  background-color: var(--primary-color);
  margin-left: 1rem;
  margin-right: 1rem;
  /* padding-left: 1rem; */
  transition: margin 0.1s, border-radius 0.2s;

}

.dropnav-content {
  display: flex;
  flex-direction: column;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s;
}

.nav-btn-container,
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 48px;
  min-height: 54px;
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
  /* padding-right: 1rem; */
  margin: auto;
  /* transition: all 0.2s; */
}
.nav-btn-container{
  justify-content: space-between;
}
.dropnav-button{
  margin-left: 0.8rem;
  float: left;
}
.toggle-theme{
  float: right;
  margin-right: 0.8rem;
  background-color: transparent;
  border: none;
  color: white;
}
a:active {
  background-color: #123d3c;
}

@media screen and (min-width: 501px) {
  .dropnav-content {
    max-height: fit-content;
    flex-direction: row;
    width: auto;
    margin: auto;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    /* width: 100%; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  nav a {
    padding: 0 1rem;
    transition: all 0.5s;
  }
  .nav-btn-container{
    display: none;
  }

}

.hero-container {
  padding: 0 0.8rem;
}

@keyframes hero-anim {
  0% {
    background: linear-gradient(145deg,
        rgb(38, 135, 127) 0%,
        rgba(255, 207, 160, 1) 100%);
  }

  50% {
    background: linear-gradient(145deg,
        rgba(255, 207, 160, 1) 0%,
        rgb(38, 135, 127) 100%);
  }

  100% {
    background: linear-gradient(145deg,
        rgb(38, 135, 127) 0%,
        rgba(255, 207, 160, 1) 100%);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg,
      rgb(38, 135, 127) 0%,
      rgba(255, 207, 160, 1) 100%);
  border-radius: 20px;
  min-height: 200px;
  max-width: 70rem;
  padding: 0.8rem;
  margin: 0 auto;
  /* animation: hero-anim 2s infinite ; */
}

.hero * {
  padding: 0.5rem;
  color: white;
}

.hero p {
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

#buy-now {
  min-width: 48px;
  min-height: 48px;
  border-radius: 5px;
  border-color: transparent;
  background-color: var(--primary-color);
  color: white;
}

#buy-now:hover {
  background-color: var(--dark-color-1);
  transition: 0.2s ease-in-out;
}

main img {
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.main-content {
  display: flex;
  max-width: 80rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.8rem;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 12rem;
  max-width: 50rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8rem;
  margin: 0.4rem;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  box-shadow: 4px 4px 20px #3f6562a0;
  overflow: hidden;
}

.column:hover {
  transform: scale(1.07);
  background-color: #ffd5a0;
  transition: 0.2s ease-in-out;
}

.column:hover {
  overflow: visible;
}

.column:hover img {
  border-radius: 1rem;
  transform: translateY(-2rem);
  transition: 0.2s ease-in-out;
}

.footer {
  background: var(--material-theme-sys-light-primary, #386A1F);
  
  display: flex;
  color: gainsboro;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: small;
  padding: 0.8rem;
}

footer img {
  height: 54px;
  padding: 2px 20px 2px 20px;
}

nav a:hover {
  color: #ffd5a0;
  transition: 0.2s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  border-color: #c0c0c0;
  border-style: solid;
  border-width: 1px;
  padding: 25px;
  max-width: 600px;
  margin: 30px auto;
  overflow: hidden;
}

.row {
  display: flex;
  padding: 15px;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid #adadad;
}

form label {
  width: 35%;
  text-align: right;
  padding-right: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #5e5e5e;
  font-weight: 500;
  font-size: 14px;
}

form input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(90, 90, 90);
  
}

form input:invalid {
  border: 2px solid red;
}

#submitbtn {
  width: 30%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}
#submitbtn:hover {
  background-color: var(--dark-color-1);
  transition: 0.2s ease-in-out;
}
#submitbtn:disabled {
  background-color: var(--light-color-1);
  transition: 0.2s ease-in-out;
}
.row5 span{
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  width: 100%;
  margin: auto;
  justify-content: center;
  /* width: 0px; */
  /* height: 0px; */
  /* overflow: hidden; */
  display: none;
  transition: all 0.5s;
}
fieldset{
  border: none;
}
