*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}
:root{
    --light-color-2: #d8e2e0;
    --light-color-1: #b4dad7;
    --primary-color: #26877f;
    --dark-color-1: #17544f;
    --dark-color-2: #123d3c;
}
body{
    background: var(--light-color-2);
    margin-left: 5%;
    margin-right: 5%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-color-1);
    padding: 10px; 
}
#logo{
    height: 120px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
header h1{
    font-family: Sugo-Pro;
    font-size: 4rem;
    color: var(--dark-color-1);
}

header p{
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    }

nav{
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    border-radius: 50vh;
}
nav a{
    color: var(--light-color-2);
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;  
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    min-height: 200px;
}

#buy-now{
    padding: 10px;
    border-radius:5px;
    border-color: transparent;
    background-color: var(--primary-color);
    color: white;
}

main img{
    height: 200px;
    width: 220px;
    border-radius: 10px;
    object-fit: cover;
}
.main-columns{
    display: flex;
    max-width: 1080px;
    margin:auto;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px;
}
.column{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color:var(--light-color-1);
    border-radius: 8px;
    box-shadow: 5px 5px 5px #3f6562a0;
}

.footer{
    display: flex;
    background-color: var(--dark-color-2);
    color: gainsboro;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 10px;
}
footer img {
    height: 54px;
    padding: 2px 20px 2px 20px;
}